<div class="gallery">
    <div class="loading">
        <h2>
            Loading Gallery...</h2>
       <!--  <img src="images/page-loader.gif" /> -->
    </div>
    <div class="gmask" id="news-slider" style="display: none">
        <ul class="news-items">
        </ul>
    </div>
    <ul class="switcher news-items-position" style="display: none">
    </ul>
</div>
<div class="tiles-holder">
    <ul>
        <li><a data-href="news" class="tile">
            <img src="images/img02.jpg" width="270" height="265" alt="image description">
            <strong class="title"><span>See All News</span> <span class="arrow"></span></strong>
        </a></li>
        <li><a data-href="nfr" class="tile tile-alt">
            <img src="images/img07.jpg" width="288" height="243" alt="image description">
            <strong class="title"><span>Get The Latest
                <br>
                From Las Vegas</span> <span class="arrow"></span></strong></a></li>
        <li><a data-href="social" class="tile">
            <img src="images/img06.jpg" width="270" height="165" alt="image description">
            <strong class="title"><span>Social</span> <span class="arrow"></span></strong></a>
        </li>
    </ul>
    <ul>
        <li><a data-href="results-standings" class="tile">
            <img src="images/img03.jpg" width="270" height="165" alt="image description">
            <strong class="title title-small"><span>Results &amp;
                <br>
                Standings </span><span class="arrow"></span></strong></a></li>
        <li><a data-href="schedules" class="tile">
            <img src="images/img04.jpg" width="270" height="165" alt="image description">
            <strong class="title"><span>Schedules</span> <span class="arrow"></span></strong>
        </a></li>
        <li><a data-href="about" class="tile">
            <img src="images/img05.jpg" width="270" height="265" alt="image description">
            <strong class="title"><span>About PRCA</span> <span class="arrow"></span></strong>
        </a></li>
    </ul>
</div>
<section class="advert" data-ad-code="ae54a7de" data-ad-zone="295824">
</section>
