<div class="visual">
    <img src="images/img26.jpg" width="640" height="469" alt="image description">
    <h1>
        About<br>
        PRCA</h1>
</div>
<ul class="news-list">
    <li><a data-href="about/prca" class="title">About PRCA</a> <a data-href="about/prca" class="arrow">more</a>
    </li>
    <li><a data-href="about/rodeo-101" class="title">Rodeo 101</a> <a data-href="about/rodeo-101" class="arrow">more</a> </li>
    <li><a data-href="about/livestock-welfare" class="title">Livestock Welfare</a> <a data-href="about/livestock-welfare" class="arrow">more</a>
    </li>
</ul>
<section class="advert" data-ad-code="a21ad867" data-ad-zone="295842" ></section>
