<div class="visual">
    <img src="images/img26.jpg" width="640" height="469" alt="image description">
    <h1>
        Livestock<br />
        Welfare</h1>
</div>
<div id="content">
    <p>
        The Professional Rodeo Cowboys Association (PRCA) is deeply committed to the proper
        care and treatment of the livestock used in rodeo. The Livestock Welfare Program
        is extensive and covers many aspects including livestock care standards, education,
        research, outreach and government relations.
    </p>
    <h3>
        Goals of the PRCA Livestock Welfare Program:
    </h3>
    <ul class="bullets">
        <li>Network with other rodeo and animal use groups to encourage similar programs.</li>
        <li>Educate PRCA membership regarding animal welfare/animal rights. </li>
        <li>Address legislative proposals that would affect rodeo. </li>
        <li>Provide factual information to the general public, media and elected officials regarding
            rodeo livestock. </li>
    </ul>
    <h3>
        As an association, the PRCA has:
    </h3>
    <ul class="bullets">
        <li>established rules and regulations governing livestock welfare, </li>
        <li>created an animal welfare committee to assist in the association’s efforts to ensure
            proper care of livestock,</li>
        <li>conducts regular livestock welfare surveys to identify successful practices and
            areas for improvement, </li>
        <li>educates its membership regarding best practices for livestock handling, </li>
        <li>monitors compliance with its animal welfare rules and regulations, </li>
        <li>educates the public and elected officials about the care provided to rodeo livestock,
        </li>
        <li>networks with other organizations about best livestock practices and policies,
        </li>
        <li>employs a director of livestock welfare to coordinate all efforts relating to care
            and handling of livestock at PRCA-sanctioned events, and employs a livestock welfare
            superintendent to proactively work with rodeo committees, stock contractors, contestants
            and veterinarians to ensure all livestock at PRCA rodeo are being handled properly.
        </li>
        <li>recognizes veterinarian’s contribution to the welfare of rodeo livestock with a
            new award program titled “PRCA Veterinarian of the Year” to be awarded at the National
            Finals Rodeo each year. </li>
    </ul>
    <p>
        For more information on the care and handling of rodeo livestock watch this <a href="http://www.youtube.com/watch?feature=player_embedded&v=_dW_htMSjgU"
            target="_blank">video</a>, visit <a href="http://prorodeo.com/animal_welfare.aspx"
                target="_blank">ProRodeo.com</a> or call (719)593-8840.</p>
</div>
<section class="advert" data-ad-code="adfe71d5" data-ad-zone="295845" ></section>

<div class="btn-holder">
    <a data-href="about" class="btn-back">Back to About PRCA Main</a>
</div>
