<div class="visual">
    <img src="images/img26.jpg" width="640" height="469" alt="image description">
    <h1>
        About<br>
        PRCA</h1>
</div>
<div id="content">
    <p>
        The Professional Rodeo Cowboys Association (PRCA), headquartered in Colorado Springs,
        Colo., is the largest and oldest rodeo-sanctioning body in the world. The recognized
        leader in professional rodeo, the PRCA is committed to maintaining the highest standards
        in the industry in every area, from improving working conditions for contestants
        and monitoring livestock welfare to boosting entertainment value and promoting sponsors.
        The PRCA also proudly supports youth rodeo with educational camps and financial
        assistance to young standouts preparing to enter the professional ranks, as well
        as supporting allied organizations such as Tough Enough to Wear Pink, Miss Rodeo
        America, the American Quarter Horse Association and the ProRodeo Hall of Fame.
    </p>
    <p>
        Annually, the PRCA sanctions about 600 of the most elite multiple-event rodeos on
        the continent, in 37 states and three Canadian provinces – the cream of the crop
        among thousands of rodeo-related events that take place each year in North America.
        As a membership-driven organization, the PRCA works to ensure that every event it
        sanctions is managed with fairness and competence and that the livestock used is
        healthy and cared for to the highest standards. For more information, visit <a href="http://prorodeo.com/prca.aspx"
            target="_blank">ProRodeo.com</a>.
    </p>
</div>
<section class="advert" data-ad-code="a23bde7c" data-ad-zone="295843" ></section>

<div class="btn-holder">
    <a data-href="about" class="btn-back">Back to About PRCA Main</a>
</div>
