<div class="visual">
    <img src="images/img26.jpg" width="640" height="469" alt="image description">
    <h1>
        Rodeo 101
    </h1>
</div>
<div id="content">
    <p>
        Professional rodeo action consists of two types of competitions - roughstock events
        and timed events - and an all-around cowboy crown.</p>
    <p>
        In the <strong>roughstock events</strong> bareback riding, saddle bronc
        riding and bull riding a contestant's score is equally dependent upon his performance
        and the animal's performance. To earn a qualified score, the cowboy, while using
        only one hand, must stay aboard a bucking horse or bull for eight seconds. If the
        rider touches the animal, himself or any of his equipment with his free hand, he
        is disqualified.</p>
    <p>
        In saddle bronc and bareback riding, a cowboy must "mark out" his horse; that is,
        he must exit the chute with his spurs set above the horse's shoulders and hold them
        there until the horse's front feet hit the ground after the initial jump out of
        the chute. Failing to do so results in disqualification.  During
        the regular season, two judges each score a cowboy's qualified ride by awarding
        0 to 25 points for the rider's performance and 0 to 25 points for the animal's effort.
        The judges' scores are then combined to determine the contestant's score. A perfect
        score is 100 points.</p>
    <p>
        <strong>Bareback Riding - </strong>To stay aboard the horse,
        a bareback rider uses a rigging made of leather and constructed to meet PRCA safety
        specifications. The rigging, which resembles a suitcase handle on a strap, is placed
        atop the horse's withers and secured with a cinch.  Making a qualified ride
        and earning a money-winning score requires more than just strength. A bareback rider
        is judged on his spurring technique, the degree to which his toes remain turned
        out while he is spurring and his willingness to take whatever might come during
        his ride.</p>
    <p>
        <strong>Saddle Bronc Riding - </strong>Saddle bronc riding
        is rodeo's classic event, both a complement and contrast to the wilder spectacles
        of bareback riding and bull riding.  Saddle bronc riding evolved from the task
        of breaking and training horses to work the cattle ranches of the Old West.  While
        a bareback rider has a rigging to hold onto, the saddle bronc rider has only a thick
        rein attached to his horse's halter. Using one hand, the cowboy tries to stay securely
        seated in his saddle.<strong></strong></p>
    <p>
        <strong>Bull Riding - </strong>To stay aboard the bull, a
        rider grasps a flat braided rope, which is wrapped around the bull's chest just
        behind the front legs and over its withers. One end of the bull rope, called the
        tail, is threaded through a loop on the other end and tightened around the bull.
        The rider then wraps the tail around his hand, sometimes weaving it through his
        fingers to further secure his grip.  Then he nods his head, the chute gate
        swings open, and he and the bull explode into the arena.  Unlike the other
        roughstock contestants, bull riders are not required to mark out their animals.</p>
    <p>
        In <strong>timed events</strong> steer wrestling, team roping, tie-down
        roping, barrel racing and steer roping; cowboys and cowgirls at "the other end of
        the arena" compete against the clock, as well as against each other. A contestant's
        goal is to post the fastest time in his or her event. In steer wrestling and the
        roping events, calves and steers are allowed a head start. The competitor, on horseback,
        starts in a three-sided fenced area called a box. The fourth side opens into the
        arena.</p>
    <p>
        A rope barrier is stretched across that opening and is tied to the calf or steer
        with a breakaway loop. Once the calf or steer reaches the head-start point -  predetermined
        by the size of the arena - the barrier is automatically released. If a cowboy breaks
        that barrier, a 10-second penalty is added.</p>
    <p>
        <strong>Steer Wrestling - </strong>The objective of the steer wrestler, who
        is also known as a "bulldogger," is to use strength and technique to wrestle a steer
        to the ground as quickly as possible.  Here’s the catch; the steer generally
        weighs more than twice as much as the cowboy and, at the time the two come together,
        they're both often traveling at 30 miles per hour.  </p>
    <p>
        <strong>Team Roping - </strong>Team roping, the only true team event in ProRodeo,
        requires close cooperation and timing between two highly skilled ropers - a header
        and a heeler - and their horses. The event originated on ranches when cowboys needed
        to treat or brand large steers and the task proved too difficult for one man. 
        The header ropes first and must make one of three legal catches on the steer &amp;
        around both horns, around one horn and the head or around the neck. Any other catch
        by the header is considered illegal and the team is disqualified. After the header
        makes his catch, he turns the steer to the left and exposes the steer's hind legs
        to the heeler. The heeler then attempts to rope both hind legs. If he catches
        only one foot, the team is assessed a five-second penalty. After the cowboys
        catch the steer, the clock is stopped when there is no slack in their ropes and
        their horses face one another.</p>
    <p>
        <strong>Tie-Down Roping - </strong>As with saddle bronc riding and team roping,
        the roots of tie-down roping can be traced back to the working ranches of the Old
        West.  A cowboy's success in tie-down roping depends in large part on the precise
        teamwork between him and his horse. The calf receives a head start that is determined
        by the length of the arena.  The horse is trained to come to a stop as soon
        as the cowboy throws his loop and catches the calf. The cowboy then dismounts, sprints
        to the calf and throws it by hand, a maneuver called flanking. If the calf is not
        standing when the cowboy reaches it, he must allow the calf to get back on its feet
        before flanking it. After the calf is flanked, the roper ties any three legs together
        with a pigging string - a short, looped rope he clenches in his teeth during the
        run.</p>
</div>
<section class="advert" data-ad-code="acd64c59" data-ad-zone="295844" ></section>

<div class="btn-holder">
    <a data-href="about" class="btn-back">Back to About PRCA Main</a>
</div>
